/* Resete base do CSS */
*{
   margin: 0; /* Remover todas a smargens */
   padding: 0%; /* Remover todo o preenchimento */
   box-sizing: border-box; /* Inclui bordas e preenchimento para calcular 
   o tamanho */

}





/* Seletor de Tag*/
body{
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 1.6; /* Define espacamento entre linhas */
    color: #333; /*definir a cor do Texto */

    background-color: #f4f4f4; /* Define a cor de fundo com cinza claro */
    padding: 10px; /* Adiciona espacmento interno ao corpo todo */
}


header{
   background-color: #0056b3;
   color: white;
   text-align: center;
   padding: 20px 0;

}

header h1{
    margin-bottom: 10px;
}
/*Formatar a Barra de navegacao */
nav ul {
    list-style: none; /* remove as marcas dos padroes da lista */
    display: flex; /* aplica o display flexivel (linha comportamento padrao)*/
    justify-content: center; /*centralizar os itens */
    gap: 10px; /* adiciona um espcamento entre os itens */
    padding: 10px;
}

nav a {
   color: white;   
   text-decoration: none; /* Remove o  sublinhado dos links */
}

nav a :hover{
    text-decoration: underline; /*
    Adicione um sublinhado ao passar o mouse sobre o link */
    

}

section {
    margin: 20px 0; /* Adiciona espancamento
    vertical entre as secoes */
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.1); 
}
h3{
    background-color: black;
}
section h2{
    color: #0056b3;
    margin-bottom: 10px;
}

section ul{
    margin-left: 20px;
    list-style-type: "8";
}
section li {
    margin-bottom: 5px;
}




/* Seletor de classe
.teste{
background-color: blanchedalmond;
}
/* Seletor de ID 
#home{
background-color: aqua;
}
*/