:root {
    --cor-fundo: #333;
    --cor-texto: #fff;
    --cor-header: #222;
    --cor-main: #111;
    --cor-secao: #222;
    --cor-borda: #444;

    --fonte-padrao: Arial, sans-serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.5rem;
    --tamanho-p: 1rem;

    --padding-padrao: 1rem;
    --padding-header: 2rem;
    --margin-padrao: 1rem;

    --largura-max-main: 75rem; /* 1200px convertido para rem */
    --largura-imagens: 6.25rem; /* 100px */
    --altura-imagens: 6.25rem; /* 100px */
    --border-radius: 0.3125rem; /* 5px */
    --border-size: 0.0625rem; /* 1px */
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-padrao);
 

 

    
}


header{
    background-color: var(--cor-header);
    padding: var(--padding-header);
    text-align: center;
    align-items: center;



}

h1{
    color: white;
}

h2{
    color: white;
}

p{
    color: white;
    margin-top: var(--margin-padrao)
}


header img{
    margin: var(--margin-padrao);
    height: var(--altura-imagens);
    width: var(--largura-imagens);

}




main{
  background-color: var(--cor-main);
  padding: var(--padding-padrao) auto;
  margin: 10px auto;
  max-width: var(--largura-max-main);
  display: flex;
  flex-wrap: wrap;




}





section{
   flex: 1;
   margin: var(--margin-padrao);
   color: var(--cor-secao);
   padding: var(--padding-padrao);
   border-radius: var(--border-radius);
   border: var(--border-size) solid var(--cor-borda);
   background-color: var(--cor-secao);


}

.band{

  background-color: var(--cor-secao);
  display: flex;
  justify-content: space-evenly;
  box-shadow: var(--cor-borda);
  border-radius: var(--border-radius);
  border-width: var(--border-size);
}


.band img{
    width: var(--largura-imagens);
    height: var(--altura-imagens);
    margin: var(--margin-padrao);
}


aside {
 background-color: var(--cor-secao);
 padding: var(--padding-padrao);
 margin: var(--margin-padrao);
 border-radius: var(--border-radius);
 border: var(--border-size) solid var(--cor-borda);

}

footer{
  background-color: var(--cor-header);
  text-align: center;
  padding: var(--padding-padrao);
  position: fixed;
  bottom: 0;
  width: 100%;

    
}