
body {
   
   padding: 30px 10px;
   font-family: 36px



}

section{
    color: #ffffff61;
    width: 220px;
    padding: 10px;



}
.principal{
    width: 400px;
    background-color: orange;
    color: ;
}






h2{
    font-size: 36px ;
    font: 16px;
    border-radius: 10px;

}

h5{
    color: #FFFFFF;
    font-size: 20px;

}